%footer
  .status.col
    %h3 Status
    %p.availability As of #{ Time.now.strftime("%B, %e") } <br> I'm available for 20 - 30 hrs a month
    %p.rate $75 hr.
  .contact.col
    %h3 Contact
    %ul
      %li= mail_to 'dave@hireDave.me'
      %li 303 416 7032
      %li Boulder, CO
  .social.col
    %h3 Social
    %ul
      %li= link_to 'dribbble', "http://dribbble.com/davewoodall", target: "_blank"
      %li= link_to 'github', "https://github.com/woodall/", target: "_blank"
      %li= link_to 'twitter', "https://www.twitter.com/hireDave", target: "_blank"
      %li= link_to 'facebook', "https://www.facebook.com/hireDave", target: "_blank"
      %li= link_to 'linkedIn', "http://www.linkedin.com/in/davewoodall", target: "_blank"
  .col
    %h3 Site map
    %ul
      %li= link_to 'home', root_path
      %li= link_to 'services', services_path
      %li= link_to 'notes', blogposts_path
      %li= link_to 'contact', contact_path
