%header
  %h1 Part-time technical Co-founder for hire
%section.content
  .left-bar
    .hero
      = image_tag "des_biz_code.png"
      %h1 Design, Business, Code
    .copy
      %h4 Ideas and action
      %p Dear entrepreneur,
      %p I started helping companies with design, strategy, and coding after I sold my business.
      %p I enjoy seeing the big picture, brainstorming ideas, and delivering solutions.
      %p I'd love to help grow your company!
      .signature= image_tag "signature.png"
  .right-bar
    = render 'shared/more_than_freelancer'
    = render 'shared/he_can'

    %h3 Recent Note
    =link_to @newest_post.title, "/notes/#{@newest_post.slug}"