!!! 5
%html
%head
  %title DaveForHire
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'layouts/typekit'
%body
%section.contact
  %p dave@woodalls.me | @dmwoodall | 303 416 7032

.container-fluid
  = yield


