!!! 5
%html
  %head
    %title Part-time technical co-founder for hire
    =render 'shared/analytics'
    =render 'shared/typekit'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      = render 'shared/nav'
      = yield
      = render 'shared/footer'

